@import url('https://fonts.googleapis.com/css?family=Bangers|Permanent+Marker');
$headingFont: "Bangers";
$mainFont: "Permanent Marker";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $mainFont;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 3px;
}

body {
  background-image: url("../images/hockey.jpg");
  color: white;
  perspective: 400;
  padding: 15px;
}

button {
  background-color: white;
  color: black;
  border-radius: 100%;
  height: 75px;
  width: 75px;
  margin-left: 80px;
  vertical-align: middle;
  font-size: 14px;
  margin-top: 40px;
  box-shadow: 5px 10px 35px rgba(50, 50, 93, 0.2), 0 5px 15px rgba(0, 0, 0, 0.07);
  transform: rotateX(20deg);
  margin-bottom: 20px;
  box-shadow:
    1px 1px 0 0 #014D06,
    2px 2px 0 0 #014D06,
    3px 3px 0 0 #014D06,
    4px 4px 0 0 #014D06,
    5px 5px 5px 0 #000000;

}
.left, .right  {
  margin-top: 70px;
}


.left {

  button {
  box-shadow: 5px 10px 25px rgba(237, 244, 46, 0.50), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow:
    1px 1px 0 0 rgba(237, 244, 46, 0.50),
    2px 2px 0 0 rgba(237, 244, 46, 0.50),
    3px 3px 0 0 rgba(237, 244, 46, 0.50),
    4px 4px 0 0 rgba(237, 244, 46, 0.50),
    5px 5px 5px 0 #000000;
}
}

.right {

  button {
  box-shadow: 6px 10px 25px rgba(46, 94, 244, 0.50), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow:
    1px 1px 0 0 rgba(46, 94, 244, 0.50),
    2px 2px 0 0 rgba(46, 94, 244, 0.50),
    3px 3px 0 0 rgba(46, 94, 244, 0.50),
    4px 4px 0 0 rgba(46, 94, 244, 0.50),
    5px 5px 5px 0 #000000;
}
}

h1 {
  text-align: center;
  font-family: $headingFont;
  font-size: 50px;
  line-height: 1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
  text-align: center;
  font-family: $headingFont;
  font-size: 40px;
  line-height: 1;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

img {
  margin-left: 40px;
  border: 2px black solid;
  box-shadow: 0 15px 35px rgba(46, 94, 244, 0.10), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.right {
  img {
  margin-left: 90px;}
  button {
    margin-left: 130px;
  }
}

p {
  margin: 0;
  line-height: 1;
  margin-top: 30px;
  margin-bottom: 10px;
}
span {
  text-align: center;

}

.hits, .result {
  text-align: center;
  margin-bottom: 0;
}

.hits {
  background-color: rgba(255,255,255, .2);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border: 2px black solid;
  z-index: -1;
  margin-top: 20px;
  box-shadow: 0 15px 35px rgba(46, 94, 244, 0.10), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 5px;
  width: 100%;
}

#reset {
  margin-left: -20px;
}
